src/main/app/TestForEco.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
<spring:beans>
	<spring:bean name="echoService" class="ua.softserve.testforecho.model.EchoSettingsModel"/>
</spring:beans>
    <flow name="RememberFlow" doc:name="RememberFlow">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8484" doc:name="HTTP" path="remember"/>
        <logger level="INFO" doc:name="Logger" message="Remember Quest was detected with parameters #[payload]"/>
        <json:json-to-object-transformer doc:name="JSON to Object" returnClass="ua.softserve.testforecho.model.EchoSettingsModel"/>
        <custom-transformer class="ua.softserve.testforecho.transoformer.RememberSettingsTransformer" doc:name="Java"/>
        <set-payload value="Data was setted" doc:name="Set Payload"/>
    </flow>
    <flow name="PlayFlow" doc:name="PlayFlow">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8484" doc:name="HTTP" path="play"/>
        <custom-transformer class="ua.softserve.testforecho.transoformer.ReplaySettingsTransformer" doc:name="Java"/>
        <set-session-variable variableName="replayedSettings" value="#[payload]" doc:name="Session Variable"/>
        <set-payload value="#[replayedSettings.message]" doc:name="Set Payload"/>
        <http:response-builder doc:name="HTTP Response" contentType="text/plain" status="#[replayedSettings.statusCode]"/>
    </flow>
    <flow name="EchoFlow" doc:name="EchoFlow">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8484" doc:name="HTTP" path="echo"/>
        <logger message="Echo request was detected" level="INFO" doc:name="Logger"/>
        <echo-component doc:name="Echo"/>
    </flow>
</mule>
